@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@300&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
  display: grid;
  place-items: center;
  background-color: rgba(40, 3, 75, 0.87);
  font-family: "Quicksand", "Raleway", "Roboto", system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
